{% extends "base.html" %}
{% import "helpers.html" as helpers with context %}

{% block title %}{{ SITENAME }} - 分类目录{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero-box">
    <div class="container">
      <header class="post-cover" style="background-image: url('/theme/images/oriental-tiles.png'); background-size: initial; background-repeat: repeat;">
        <div class="post-overlay"></div>
        <div class="content">
          <div class="post-title-group">
            <a class="post-title-link" href="#">
              <h2 class="post-title">分类目录</h2>
            </a>
            <div class="post-meta">共 {{ categories|length }} 个分类</div>
          </div>
        </div>
      </header><!-- kagami:post-cover -->
      <div class="hero-box-summary">
        <p>「五色令人目盲，五音令人耳聋，五味令人口爽」—— 老子</p>
      </div>
    </div>
  </div><!-- kagami:non-singular:hero-box -->
  <div class="hero-background-wrapper">
    <div class="hero-background" style="background-image: url('/theme/images/oriental-tiles.png'); background-size: initial; background-repeat: repeat;"></div>
  </div>
</div><!-- kagami:hero -->
<div class="fill without-pagination">
  <div class="container post-list">
    {% for category, articles in categories|sort %}
    {{ helpers.taxonomy_cover(category, articles, type="category") }}
    {% endfor %}
  </div>
</div><!-- kagami:fill -->
{% endblock %}
